@charset "UTF-8";

*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
}

.overlay{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	z-index:1;
	visibility: hidden;
}

.postContainer{
	display:flex;
	margin:100px auto;
	width:1400px;
	height: 1500px;
}

.postForm{
	width:57%;
	height: 700px;
	border: 2px solid black;
	border-radius: 20px;
	padding:30px;
}

.identiBox{
	width: 80%;
	height: 10%;
	border: 1px solid black;
	margin: 50px auto 40px;
	padding:30px;
	font-size: 20px;
}

.identiSpan{
	display: block;
	margin-top: 15px;	
}

.identiBox input{
	padding:10px;
	width: 250px;
}

.textBox{
	width: 80%;
	height: 45%;
	margin:30px auto 0;
	padding:30px;
	font-size: 20px;
	border: 1px solid black;
}

.textSpace{
	
	//margin:20px auto;
	width: 610px;
    height: 213px;
    resize: none;
    outline: none;
    padding:10px 15px;
    font-size:25px;
    
}

.submitBox{
	width: 80%;
    height: 15%;
    margin: 15px auto 0;
    position: relative;
}

.postSubmit{
	width: 65px;
	height: 45px;
	position: absolute;
	top:0px;
	right: -30px;
	background-color: #a2ffa2;
	font-size: 20px;
	border: none;
	//color:#b92717;
}

.postSubmit:hover{
	cursor: pointer;
	background-color: #00ae00;
}

.replyForm{
	margin-left:40px;
	width:35%;
	height: 1300px;
	border: 2px solid black;
	border-radius: 30px;
}

.replyBox{
	width:80%;
	max-height: 74%;
	margin:20px auto;
	overflow-y:scroll;
	border:4px solid black;
	background-color: #cdfcfe;
}

.writeBox{
	width:80%;
	height: 15%;
	border:4px solid black;
	border-radius: 10px;
	margin:50px auto;
	padding:10px;
	background-color: #fef0cd;	
	position: relative;
}

.writeBox input{
	padding:10px;
}


.replyId, .replyPwd,.replyId2{
	width:150px;
}

.replyComment,.replyComment2{
	width:250px;
	height: 100px;
	resize: none;
}

.replySubmit2{
	position: absolute;
	bottom: 10px;
	right: 10px;
}


.modal{
	position: fixed;
	width: 550px;
	min-height: 400px;
	background: white;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:2;
	visibility: hidden;
	
}

.modalTextBox{
	width:80%;
	height: 80px;
	font-size: 20px;
	color:#ff6868;
	margin:40px auto;
	padding:10px 0 10px 30px;
	line-height: 80px;
	border:1px solid black;
}

.modalPwdBox{
	width:80%;
	height: 160px;
	margin:20px auto;
	border:1px solid black;
	padding:10px 0 10px 30px;
}

.modalPwdSpace{
	margin:70px 0 0 30px; 
	width:200px; 
	padding:13px;	
}

.pwdConfirm{
	padding:13px;
	margin-left: 20px;
}
